*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}


.top{
    height: calc(100vh - 70px); 
}
 
.top-content{
    height: 100%;
    display: flex;
}

header{
    background-color: #080B12;
    position: fixed;
    width: 100%;
    height: 70px;
    margin-bottom: 200px;
}

.sidebar{
    width: 200px;
    background-color: #000000;
    position: relative;
}

.container{
    background-color: #141922;
    width: calc(100vw - 200px);
    overflow-y: scroll;
}

.music-tracks-menu{
    padding-top: 100px;
    

}

.row{
    padding: 10px;
}

.col{
    background-color: red;
    width: calc(100% / 6 - 20px);
    height: 150px;
    margin: 10px;
}



.logo{
    padding: 20px;
}

.logo-small{
    width:60px;
    margin-left: -2px;
    display: none;
}


ul{
    list-style: none;
    font-weight: bold;
    color: #7D7F84;
    font-size: 10px;
}

li{
    padding: 5px 20px;
}

.display-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.bottom{
    height: 70px;
    background-color: #282828;
}

.border-radius-50{
    border-radius: 50%;
}

.john-doe{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.color-white{
    color: white;
}

.color-gray{
    color:#7D7F84;
}

.padding-bottom-100px{
    padding-bottom: 100px;
}


/*responsive*/
@media screen and (max-width: 768px){
    .col{
        width: calc(100% / 4 - 20px);
    }
}

@media screen and (max-width: 575px){
    .col{
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 380px){
    .sidebar{
        width: 50px;
    }

    .container{
        width: calc(100vw - 50px);
    }

    .none{
        display: none;
    }

    .logo-small{
        display: block;
    }
}